.card-grid{
    display: grid;
    grid-template-rows: 33vh;
    grid-template-columns: 25vw 25vw 25vw;
    column-gap: 2vw;
    row-gap: 5vh;
}

.book-info{
    padding-left: 4%;
    padding-top: 3%;
}

.book-title{
    font-size: 3.2vw;
    padding-bottom:1%;

}

.book-author{
    font-size: 1.5vw;
    padding-bottom:1.5%;

}

.book-numOfPages{
    font-size: 1.4vw;
    padding-bottom:1%;

}

.book-read{
    font-size: 1.3vw;
    padding-bottom:1%;

}

.book-card{
    min-width: 200px;
    min-height: 105px;
    width: 25vw;
    height: 33vh;
    border-style: solid;
    border-color: rgb(63, 63, 63);
    border-width: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
}
